@charset "UTF-8";


header{
    height: 70px;
    box-shadow: 0px 3px 5px 2px #f0f0f0;
}

header div ul li{
    float: left;
    font-size: 15px;
}

header > div > ul,
header > div > div{
    float: left;
}

header div ul li{
    margin-top: 38px;
    margin-right: 20px;
}
header div #memberMenu{
    float: right;
}

/* logo */
header div ul #logo {
    margin-top: 10px;
}
header div ul #logo img{
    height: 55px;
}

/* 검색박스 */
header div div{
    margin-top: 22px;
    background-color: rgb(242, 242, 242);
    margin-left: 150px;
    border-radius: 20px;
}
header div div input{
    width: 350px;
    height: 33px;
    outline: none;
    border: none;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    margin-left: 20px;
}

header div div img{
    width: 15px;
    margin: 12px 20px 0 0;
}