
#filter{
    margin-top: 30px;
}

#filter ul li{
    float: left;
    margin-right: 20px;
    background-color: #ffae44;
    height: 30px;
    line-height: 30px;
    padding: 0 8px 0 8px;
}


.picBox{
    width: 200px;
    height: 280px;
    background-color: rgb(223,223,223);
    border-radius: 20px;
    float: left;
    margin: 10px;
}

.picBox .pic{
    height: 200px;
    background-color: #9f9f9f;
    border-radius: 20px;
}


button{
    margin-bottom: 50px;
}